  <!-- ======= Header ======= -->
  <div>
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">WEST BANK</a></h1>
      <!-- Uncomment below if you prefer to use an image register -->
      <!-- <a href="index.html" class="register me-auto"><img src="assets/img/register.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li class="dropdown"><a href="#"><span>Branches</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Wayanad">Wayanad</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Malappuram">Malappuram</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="{% url 'login' %}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  </div>

  <div>
<br>
    <br>
    <br>
    <br>
    <br>
  <section id="hero" class="d-flex align-items-center" style="background-color:white;">

    <div class="container" >
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos-delay="200">
          <h1 style="color:black;">Better Solutions For Your Money</h1>
          <h2 style="color:black;">Friendly Banking Made Easy for More Than Fifty Years</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="{% url 'signup' %}" class="btn-get-started scrollto">SignUp</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/assets/img/hero-img1.png">
        </div>
      </div>
    </div>

  </section>
  </div>
  <div>
      <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We are opening your first bank account or have managed a checking account for years, it helps to know the different types of banking services available. This ensures you get the most out of your current financial institution. Deciding which services are most important can lead you to the bank that best fits your needs.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><img src="static/credit.png" height="100px" width="100px"></div>
              <h4><a href="">Credit Card</a></h4>
              <p>Credit card sales are when customers pay for a product or service</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="static/saving.png" height="100px" width="100px"></div>
              <h4><a href="">Saving Account</a></h4>
              <p>We offers you a range of savings account for your personal needs</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
            <div class="icon-box">
              <div class="icon"><img src="static/salary.png" height="100px" width="100px"></div>
              <h4><a href="">Personal Loan</a></h4>
              <p>We provide for Personal Loan upto 50 Lakh Only for Salaried Employees</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
            <div class="icon-box">
              <div class="icon"><img src="static/shield.png" height="100px" width="100px"></div>
              <h4><a href="">Security</a></h4>
              <p>We provide Security for customers in Various Aspecsts</p>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>

      <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
        <p>Executing all tasks assigned by the team leader or manager diligently, on schedule, and to the highest standard. Working with team members to achieve daily, weekly, and monthly targets. Participating in meetings and voicing concerns as well as suggestions for improvement.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Branch Manager</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Internal Auditor</span>

                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Branch HR</span>

                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="static/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Chief Assistant</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  <div>

  </div>


  <div>
    <footer id="footer">
        <div class="container footer-bottom clearfix">
      <div class="copyright" align="center">
        &copy; Copyright <strong><span>West bank</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  </div>